.wrapper {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.wrapper form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  width: 40%;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}

.wrapper form p {
  margin-bottom: 10px;
}

.Admin {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.topInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.threeCol {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.onboarding {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
}

.onboarding h1 {
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(120deg, rgb(28, 196, 28), rgb(2, 90, 2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.AddBlog {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.AddBlog form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.AddBlog input, .AddBlog textarea {
  background: #fff;
  padding: 10px 20px;
  border: 0.1px solid silver;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .threeCol {
    grid-template-columns: 1fr;
  }
  .wrapper{
    height: auto;
  }
  .wrapper form{
    width: 100%;
  }
}


/* admin.module.css */
.tablecontainer {
  width: 100%;
  overflow-x: auto;
  /* Add horizontal scroll for small screens */
}

.tablecontainer table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 6px;
  border: 0.1px solid silver;
}

.tablecontainer th,
.tablecontainer td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tablecontainer .tr {
  white-space: nowrap;
}

.tablecontainer th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.tablecontainer tr:hover {
  background-color: #f5f5f5;
}

.tablecontainer td button {
  margin-right: 5px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tablecontainer td button.delete {
  background-color: #e57373;
  color: #fff;
}

.tablecontainer td button.edit {
  background-color: #64b5f6;
  color: #fff;
}

.tdButtons button {
  margin: 5px auto;
}

.modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}

.modalContent {
  width: 40%;
  padding: 20px;
  height: 500px;
  overflow-y: scroll;
  border-radius: 10px;
  background-color: #fff;
  overflow-x: hidden;
}
.close{
  float: right;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  font-size: 2.5rem;
}
.close:hover{
  background: #f1f1f1;
}

.modalContent input, .modalContent textarea{
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  border: 0.1px solid silver;
  margin: 10px 0;
}

/* Media query for small screens */
@media (max-width: 768px) {
  .tablecontainer table {
    box-shadow: none;
    /* Remove the box shadow for small screens */
  }

  .tablecontainer td,
  .tablecontainer th {
    padding: 8px 10px;
  }
  .modalContent{
    width: 95%;
  }
}