.AdsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.AdsSection .Ads {
    width: 90%;
    height: 150px;
    border-radius: 10px;
    border: 0.1px solid silver;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Home {
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: 10px;
    padding: 10px;
}

.HomeCard {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    justify-content: left;
    cursor: pointer;
    transition: 0.5s;
}

.HomeCard:hover {
    opacity: 0.6;
}

.VerticalPosts {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.HomeCard h1 {
    font-size: 2.5rem;
}

.HomeCard img {
    border-radius: 10px;
}

.VerticalPosts .card {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    justify-content: left;
    cursor: pointer;
    transition: 0.5s;
}

.VerticalPosts .card:hover {
    opacity: 0.6;
}

.VerticalPosts .card span {
    background: linear-gradient(120deg, rgb(28, 196, 28), rgb(2, 90, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.HomeNext {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    justify-content: left;
    cursor: pointer;
}

.HomeNext hr {
    width: 70%;
}

.ThreeColCard {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s;
}

.ThreeColCard:hover {
    opacity: 0.6;
}

.ThreeColCard .Left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ThreeColCard .Left span {
    background: linear-gradient(120deg, rgb(28, 196, 28), rgb(2, 90, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.ThreeColCard .Left h2 {
    font-size: 2rem;
}

.ThreeColCard .Right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ThreeColCard .Right img {
    width: 90%;
    height: 90%;
    border-radius: 10px;
}
.cardMox{
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}
.cardMox:hover{
    background: #f1f1f1;
}
@media only screen and (max-width: 768px) {
    .Home {
        grid-template-columns: 1fr;
        overflow: hidden;
        padding: 0px;
    }

    .ThreeColCard {
        grid-template-columns: 1fr;
        overflow: hidden;
    }

    .HomeCard img {
        width: 100% !important;
        height: auto;
    }

    .Right img {
        width: 100% !important;
        height: auto;
    }
}

.twomainCol {
    display: grid;
    grid-template-columns: 1fr 20%;
    gap: 10px;
    width: 100%;
}

.mainContent,
.options {
    width: 100%;
    height: 100%;
}

.mainContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainContent img {
    border-radius: 10px;
}

.mainContent .cato {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, rgb(28, 196, 28), rgb(2, 90, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: min-content;
    cursor: pointer;
    white-space: nowrap;
}

.cato:hover {
    color: rgba(0, 0, 0, 0.7);
    background: none;
    background-clip: initial;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.7);
}

.mainContent h1 {
    font-size: 2.8rem;
}

.twocol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.threeCol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.SingleCard {
    display: flex;
    flex-direction: column;
    white-space: normal;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.SingleCard:hover {
    opacity: 0.6;
}

.SingleCard img {
    border-radius: 10px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.threeicons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: min-content;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.ico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: linear-gradient(120deg, rgb(28, 196, 28), rgb(2, 90, 2));
    border-radius: 50%;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
    font-size: 1.3rem;
}

.icoSpecail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 50%;
    color: rgb(28, 196, 28);
    transition: 0.5s;
    cursor: pointer;
    font-size: 1.3rem;
    position: relative;
}

.ico:hover {
    background: rgba(0, 0, 0, 0.3);
}
.icoSpecail:hover{
    background: #f1f1f1;
}

.Something {
    display: "flex";
    flex-direction: "row";
    align-items: "center";
    gap: "5px";
    width: "min-content";
    white-space: "nowrap";
}
.Image{
    width: 100%;
    height: auto;
}
.NextImage{
    width: 100%;
    height: 300px;
}

/* pages.module.css */
.section {
    padding: 40px;
  }
  
  /* Styling for the About Us section */
  .aboutContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .logoContainer {
    text-align: center;
  }
  
  .logo {
    width: auto;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    transform: scale(2.5);
  }
  .logoStaff{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .heading {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  .mission {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .missionList {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .missionList li {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 5px;
  }
  .staffGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
  }
  
  .staffCard {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: #fff;
    cursor: pointer;
    transition: all 0.5s;
  }
  
  .staffCard:hover {
    background: linear-gradient(120deg, rgb(28, 196, 28), rgb(2, 90, 2));
    color: #f1f1f1;
  }
  
  .staffImage {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .twoColContact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .container {
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }
  
  
  /* Content Styles */
  .logoContainer {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .logoContainer img {
    width: auto;
    height: 200px;
  }
  
  .contentContainer {
    text-align: center;
  }
  
  .contentContainer h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .contentContainer p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555555;
  }
  
  /* Form Styles */
  
  .contactForm {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
  }

  .formGroup label {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .formGroup input,
  .formGroup textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .formGroup textarea {
    resize: vertical;
  }
.mainContactContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mainContactContent div{
    padding: 20px;
    background: #fff;
    border-radius: 10px;
}
  @media only screen and (max-width: 768px) {

    .twomainCol,
    .ThreeColCard,
    .twocol,
    .threeCol {
        grid-template-columns: 1fr;
    }

    .mainContent img {
        width: 90vw;
    }

    .threeicons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
    }
    .threeCol{
        width: 90vw;
    }
    .mainContent{
        width: 95vw;
    }

    .SingleCard {
        justify-content: space-between;
        white-space: pre-wrap;
    }

    .Image, .NextImage {
        width: 90vw;
    }

    .Something {
        white-space: normal;
    }
    .section{
        padding: 10px;
    }
    .container{
        width: 100%;
        padding: 10px;
    }
    .twoColContact{
        grid-template-columns: 1fr;
    }
    .logo{
        transform: scale(1);
    }
}
