.vertposts{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.TrendingPosts{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    cursor: pointer;
    padding: 20px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info span{
    font-size: 10px;
    padding: 5px 10px;
    background: rgba(0,0,0,0.1);
    border-radius: 35px;
    width: min-content;
    white-space: nowrap;
}

.info p{
    font-size: 15px;
}

.info h2{
    font-size: 20px;
}

.TrendingPosts:hover{
    opacity: 0.7;
}