* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  /* Light mode styles */
  background: #f1f1f1;
  color: #1f1f1f;
}

body.dark-mode {
  /* Dark mode styles */
  background: #1f1f1f;
  color: #f1f1f1;
}

a {
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}

img {
  pointer-events: none;
  user-select: none;
}

button {
  padding: 10px 20px;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: min-content;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.1s;
}

button:hover {
  background: #1f1f1f;
  color: #f1f1f1;
}

input,
textarea,
select {
  outline: none;
  padding: 10px 20px;
  border: none;
  background: initial;
  width: 100%;
  white-space: nowrap;
}

/* ===== Scrollbar CSS ===== */

/* Firefox */
body {
  scrollbar-width: 0 !important;
}

/* Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 0px !important;
}

body::-webkit-scrollbar-track {
  background: none !important;
}

body::-webkit-scrollbar-thumb {
  background-color: none !important;
  border-radius: 0px !important;
  border: 0px solid transparent !important;
}


/* Main Layout  */
.main-layout {
  display: grid;
  grid-template-columns: 1fr 80%;
  gap: 10px;
  width: 100vw;
  height: 90vh;
}

.sidebar {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 0px;
  border-right: 0.1px solid silver;
  padding: 10px;
}

.main-content {
  padding: 10px;
  height: 100%;
  overflow-y: scroll;
}


/* styles.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.heading {
  font-size: 120px;
  font-weight: bold;
  margin-bottom: 4px;
}

.subheading {
  margin-bottom: 4px;
}

.body-text {
  text-align: center;
  margin-bottom: 4px;
}


@media only screen and (max-width: 768px) {
  .main-layout {
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: min-content;
    overflow-x: hidden;
  }
}