* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  transition: all 0.3s;
}

body {
  /* Light mode styles */
  background: #f1f1f1;
  color: #1f1f1f;
}

body.dark-mode {
  /* Dark mode styles */
  background: #1f1f1f;
  color: #f1f1f1;
}

a {
  color: inherit;
  text-decoration: none;
  /* white-space: nowrap; */
}

img {
  pointer-events: none;
  user-select: none;
}

button {
  padding: 10px 20px;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: min-content;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.1s;
}

button:hover {
  background: #1f1f1f;
  color: #f1f1f1;
}

input,
textarea,
select {
  outline: none;
  padding: 10px 20px;
  border: none;
  background: initial;
  width: 100%;
  white-space: nowrap;
}

/* ===== Scrollbar CSS ===== */

/* Firefox */
body {
  scrollbar-width: 0 !important;
}

/* Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 0px !important;
}

body::-webkit-scrollbar-track {
  background: none !important;
}

body::-webkit-scrollbar-thumb {
  background-color: none !important;
  border-radius: 0px !important;
  border: 0px solid transparent !important;
}


/* Main Layout  */
.main-layout {
  display: grid;
  grid-template-columns: 1fr 85%;
  width: 100vw;
  height: auto;
}

.sidebar {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 0px;
  border-right: 0.1px solid silver;
  padding: 10px;
}

.main-content {
  padding: 10px;
  height: 100%;
  background: #fff;
}


/* styles.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.heading {
  font-size: 120px;
  font-weight: bold;
  margin-bottom: 4px;
}

.subheading {
  margin-bottom: 4px;
}

.body-text {
  text-align: center;
  margin-bottom: 4px;
}
/* Add your desired background color for the loading skeleton */
.loading-skeleton {
  width: 100%; /* Set your desired width */
  height: 200px; /* Set your desired height */
  background-color: #e7e1e1; /* Set your desired background color */
  border-radius: 4px; /* Add border-radius for rounded corners if needed */
  position: relative;
  overflow: hidden;
}

.loading-skeleton-full {
  width: 100%; /* Set your desired width */
  height: 80vh; /* Set your desired height */
  background-color: #e7e1e1; /* Set your desired background color */
  border-radius: 4px; /* Add border-radius for rounded corners if needed */
  position: relative;
  overflow: hidden;
}

.loading-skeleton-full::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  );
  animation: loadingAnimation 1.5s linear infinite;
}

.loading-skeleton-link {
  width: 100%; /* Set your desired width */
  height: 20px; /* Set your desired height */
  background-color: #e7e1e1; /* Set your desired background color */
  border-radius: 4px; /* Add border-radius for rounded corners if needed */
  position: relative;
  overflow: hidden;
}

.loading-skeleton-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  );
  animation: loadingAnimation 1.5s linear infinite;
}

.loading-skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  );
  animation: loadingAnimation 1.5s linear infinite;
}

@keyframes loadingAnimation {
  0% {
    left: -100%; /* Start off-screen on the left */
  }
  100% {
    left: 100%; /* Move to the right */
  }
}
.scrollToTopButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #1f1f1f;
  color: #ffffff;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease-in-out;
}

.scrollToTopButton:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  .main-layout {
    grid-template-columns: 1fr;
  }
  .sidebar {
    display: none;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    overflow-y: hidden;
    width: 100%;
    position: absolute;
    top: 8%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: linear-gradient( 50deg, green, lightgreen);
    color: #f1f1f1;
  }
}